@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply antialiased;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
  }
}
